<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.rehmanh.practice.reviewbot">

    <supports-screens android:requiresSmallestWidthDp="600" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_review_bot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_review_bot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReviewActivity"
            android:label="ReviewBot"
            android:launchMode="singleTask"
            android:parentActivityName=".MovieListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="ReviewBot"
            android:parentActivityName=".IntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>